<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="WpfApplication1.Properties.Settings.Train_ticketsConnectionString" connectionString="Data Source=DESKTOP-81FN8IO\SQLEXPRESS;Initial Catalog=Train_tickets;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Train_ticketsEntities" connectionString="metadata=res://*/View.TrainTicketModel.csdl|res://*/View.TrainTicketModel.ssdl|res://*/View.TrainTicketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-81FN8IO\SQLEXPRESS;initial catalog=Train_tickets;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Train_ticketsEntities1" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-81FN8IO\SQLEXPRESS;initial catalog=Train_tickets;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Train_ticketsEntities2" connectionString="metadata=res://*/View.TrainTicketModel.csdl|res://*/View.TrainTicketModel.ssdl|res://*/View.TrainTicketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-81FN8IO\SQLEXPRESS;initial catalog=Train_tickets;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Train_ticketsEntities3" connectionString="metadata=res://*/View.TrainTicketModel.csdl|res://*/View.TrainTicketModel.ssdl|res://*/View.TrainTicketModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-81FN8IO\SQLEXPRESS;initial catalog=Train_tickets;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModelConnection" connectionString="data source=DESKTOP-81FN8IO\SQLEXPRESS;initial catalog=Train_tickets;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TrainContext" connectionString="data source=DESKTOP-81FN8IO\SQLEXPRESS;initial catalog=Train_tickets;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TrainContext1" connectionString="data source=DESKTOP-81FN8IO\SQLEXPRESS;initial catalog=Train_tickets;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TrainContext2" connectionString="data source=DESKTOP-81FN8IO\SQLEXPRESS;initial catalog=Train_tickets;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="TrainContext3" connectionString="data source=DESKTOP-81FN8IO\SQLEXPRESS;initial catalog=Train_tickets;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>